@import url("https://fonts.googleapis.com/css2?family=Goldman&family=Kaushan+Script&family=Poppins:wght@200;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #4993d8;
  --primary-color-light: #e8e6fc;
  --toggle-color: #ddd;
  --text-color: #707070;

  --trans-02: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.5s ease;
}

body {
  background: #ccc;
}
