@import url("https://fonts.googleapis.com/css2?family=Goldman&family=Poppins:wght@300;700&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

.content {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--trans-05);
}

.sidebarClose {
  width: 88px;
}

.sidebarClose .text {
  opacity: 0;
  transition: var(--trans-03);
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.sidebar .image-text img {
  height: 40px;
  border-radius: 6px;
}

.sidebar .image-text {
  display: flex;
  align-items: center;
}

.sidebar li .text,
.sidebar li .icon {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--trans-03);
}

.header-text .name {
  font-weight: 600;
  font-family: "Goldman", cursive;
  font-size: 20px;
  color: var(--primary-color);
}

.sidebar header {
  position: relative;
}

.sidebar header .toggle {
  position: absolute;
  top: 52%;
  right: -25px;
  height: 25px;
  width: 25px;
  transform: translateY(-50%);
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
}

.sidebar li {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 50px;
  margin-top: 10px;
  list-style: none;
}

.sidebar li .icon {
  display: flex;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
}

.sidebar li a:hover {
  background: var(--primary-color);
}
